# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
pip-wheel-metadata/

# Virtual environment
venv/


# Secrets
.env

# Chroma / vector DB data
data/chroma/

# Temporary files
tmp/
*.log

# OS
.DS_Store

# Docker (optional)
*.dockerignore
docker-compose.override.yml

# IDEs
.vscode/
.idea/
*.iml
